body{
    background-color: #20235d;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}
 h1{
    color: navy;
    text-align: center;
    font-size: 300%;
}
div{
    max-width: 600px;
    margin: 120px auto 15px;
    padding: 10px 30px 10px;
    background-color: white;
    border: none;
    border-radius: 25px;
}
.container{
    max-width: 600px;
    background-color: white;
    box-shadow: 2px 5px 5px rgba(0, 0, 0, 0, 7);
    color: blueviolet;
    padding: 20px 30px 50px;
    margin: 50px auto 15px;
    border-radius: 25px;
    border: none;
}
form{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}
input[type="text"]{
    width: 70%;
    padding: 20px;
    border-radius: 15px;
    border: 4px solid #632fff;
    font-size: 1.5rem;
    margin-left: 10px;
}
.btn{
    background-color: #632fff;
    border: none;
    color: white;
    padding: 20px 30px;
    cursor: pointer;
    border-radius: 15px;
    font-size: 1.6rem;
}
.btn:hover{
    background-color: blue;
}
ul li{
    list-style-type: none;
    font-size: 1.5rem;
    padding: 10px 6px 10px 30px;
    cursor: pointer;
    position: relative;
}
ul li::before{
    content: "☐";
    font-size: 25px;
    position: absolute;
    left: -1px;
    top: 4px;
}
#task-list{
    padding: 0px 30px;
}
ul li.checked{
    text-decoration: line-through;
    color: #632fff;
}

ul li.checked::before{
    content: "☑" ;
    color: #632fff;
}
ul li span{
    position: absolute;
    top: 1.8px;
    right: 5px;
    color: rgb(227, 26, 26);
    font-size: 2rem;
}


